body {
  color: #f0e7d5;
  background: #252525;
  background-attachment: fixed !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
  background: -webkit-linear-gradient(#2a2a29, #1c1c1c);
  background: -moz-linear-gradient(#2a2a29, #1c1c1c);
  background: -o-linear-gradient(#2a2a29, #1c1c1c);
  background: -ms-linear-gradient(#2a2a29, #1c1c1c);
  background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2 {
  color: #e8e8e8;
}

h3 {
  color: #b6b6b6;
}

h4, h5, h6 {
  color: #e8e8e8;
}

a {
  color: #ffcc00;
}
a:hover {
  color: #ffeb9b;
}

a small {
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../../img/bullet.png");
  margin-left: 10px;
}

blockquote {
  border-left: 3px solid #ffcc00;
}

code {
  color: #efefef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

pre {
  background: #191919;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #121212;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  overflow-y: hidden;
}
pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
}

td {
  border-bottom: 1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url("../../img/hr.gif") center center repeat;
}

dt {
  color: #F0E7D5;
}

header {
  width: 100%;
  background: url("../../img/nav-bg.gif") #353535;
  border-bottom: 4px solid #434343;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

header .button-group .button {
  margin: 5px 0 5px 0;
}

.title {
  border: 0;
}
.title h1, .title h6 {
  text-align: center;
}

.credits {
  font-size: 11px;
  color: #696969;
  margin-top: -10px;
}
.credits .right {
  text-align: right;
}

img[alt=emoji] {
  height: 20px;
  width: 20px;
}
