<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

  <link rel="stylesheet" href="{{ site.url }}/css/foundation.css">
  <link rel="stylesheet" href="{{ site.url }}/css/styles.css">

  <script src="{{ site.url }}/js/vendor/custom.modernizr.js"></script>
</head>

<body>
  <header>
    <div class="row">
      <div class="nav-bar small-6 columns">
        <ul class="button-group radius">
          <li>
            <a class="tiny button success buttons-github" href="https://github.com/kelvinst"></a>
          </li>
          <li>
            <a class="tiny button success buttons-codeschool" href="https://www.codeschool.com/users/kelvinst"></a>
          </li>
          <li>
            <a class="tiny button success buttons-coderwall" href="https://coderwall.com/kelvinst"></a>
          </li>
          <li>
            <a class="tiny button success buttons-linkedin" href="http://www.linkedin.com/pub/kelvin-stinghen/31/34a/906"></a>
          </li>
        </ul>
      </div>
      <div class="nav-bar small-6 columns">
        <ul class="button-group radius right">
          <li>
            <a href="{{ site.url }}/index.html" class="medium button success">
              Home
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/about" class="medium button success">
              About
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/resume" class="medium button success">
              Resume
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="title large-12 columns">
      <h1>Kelvin Raffael Stinghen</h1>
      <h6 class="subheader">kelvinst || -.- .-. ...</h6>
      <hr>
      <div class="credits">
        <div class="large-6 columns">Hosted on GitHub Pages</div>
        <div class="right large-6 columns">Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></div>
      </div>
    </div>

    <div class="large-12 columns">
      {{ content }}
    </div>
  </div>
</body>

</html>
